html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    background-color: #0d0d0d;

}

.text-white {
    color: white;
}

.nav {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    background-color: #0d0d0d;
}

.nav a {
    text-decoration: none;
    color: white;
    margin: 1.5em;

}
.quote {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.5em;

}
.m-0 {
    margin: 0px;
}

.container {
    height: 100vh;
    max-width: 100%;
    background-color: #33b15d;
    margin: 0%;

}

.bold-font {
    font-weight: bolder;
}
.name {
    font-weight: 200;
    font-size: 2em;

}
.last-name {
    font-weight: 800;    
}


.middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-container {
    border: 2px #33b15d;
    margin: 0em;
    margin-left: 0px;
    margin-right: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 8px;    */
}
.content-body-grid {
    margin-left: 0;
    margin-right: 0;

}
.grid-item {
    text-align: left;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.line {
    width: 100%;
    border-bottom: 2px solid #33b15d; /* Add this line */
    margin-top: 5em;
}
.content-body {
    margin-left: 9em;
    margin-right: 9em;

}
.project-item {

}
.project-title {
    font-weight: 800;
    font-size: x-large;
    margin-bottom: 0px;
}

.project-stack {
    margin-top: 5px;
    font-size: 0.9rem;
    font-style: italic;
}
.project-explain {
margin-right: 10em;
}
.project-details {
    margin-top: 2em;
}
.live {
    text-decoration: none;
    border: 2px #ffffff;
    font-weight: 800;
    color: #0d0d0d;

}
button {
    background-color: #33b15d;
    padding-left: 0.9em;
    padding-right: 0.9em;
    padding: 5px 5px;
    border: 0px;
    border-radius: 2px;
}